{
  "useTabs": true,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "none",
  "printWidth": 300,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid"
}